.myTable {
    .ant-table {
      font-size: 13px;
    }
    tr{
      td{
        padding: 0px;              
        border: none;
        height: 20px;
        vertical-align: auto;
      }
    }
}